body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

// Navigation Bar

.navbar {
    background: black;
}

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: black;
    color: white;
}

.navbar .link:hover,
.navbar .link:active {
    color: black;
    background: white;
}

.navbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    padding: 1em;
    color: white;
}

// Hero Image

#hero {
    height: 100%;
    width: 100%;
}

.hero-img {
    display: block;
    width: 100%;

}

img {
    width: 100%;
}

// Paragraph text

.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: column;


    h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;

    }

    p {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        text-align: justify;
        text-align-last: center;

    }
}

// Icons - Coding Languages


.language {
    display: block;
    width: 100%;

    .language-icons {
        display: flex;
        width: 100%;

        i {
            display: flex;
            height: 250px;
            flex: 1;
            justify-content: center;
            align-items: center;
            font-size: 200px;
        }

        .fa-css3-alt {
            color: #FFA500;

            &:hover {
                opacity: 0.5;
            }
        }

        .fa-html5 {
            color: #f06529;

            &:hover {
                opacity: 0.5;
            }
        }

        .fa-sass {
            color: #cd6799;

            &:hover {
                opacity: 0.5;
            }
        }

        .fa-gem {
            color: red;

            &:hover {
                opacity: 0.5;
            }
        }


    }

    h2 {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        justify-content: center;
        text-decoration: underline;
    }
}



// Media Queries Below

@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }

    .navbar .brand {
        text-align: left;
    }

    .navbar.active div {
        display: block;
    }
}

@media (min-width: 48em) {
    .navbar {
        display: flex;
    }

    .navbar div {
        display: flex;
    }

    .navbar .left,
    .navbar .right {
        display: flex;
        flex: 1;
    }

    .navbar .link {
        width: auto;
    }

    .navbar .right {
        justify-content: flex-end;
    }

    .navbar .toggle {
        display: none;
    }
}