@import 'services';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

// Navigation Bar

.navbar {
    background: black;
}

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: black;
    color: white;
}

.navbar .link:hover,
.navbar .link:active {
    color: black;
    background: white;
    border-radius: 10px;
}

.navbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    padding: 1em;
    color: white;
}



// Hero Image

#hero {
    height: 100%;
    width: 100%;
}

.hero-img {
    display: block;
    width: 100%;

}

img {
    width: 100%;
}

// Paragraph text

.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: column;

    h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;

    }

    p {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        text-align: justify;
        text-align-last: center;

    }
}

// Icons - Coding Languages

.language {
    display: block;
    width: 100%;

    .language-icons {
        display: flex;
        width: 100%;
        margin: 20px 0 20px 0;

        i {
            display: flex;
            height: 250px;
            flex: 1;
            justify-content: center;
            align-items: center;
            font-size: 200px;
        }

        .fa-css3-alt {
            color: #B49162;

            &:hover {
                color: #FFA500;
            }
        }

        .fa-html5 {
            color: #B49162;

            &:hover {
                color: #f06529;
            }
        }

        .fa-sass {
            color: #B49162;

            &:hover {
                color: #cd6799;
            }
        }

        .fa-gem {
            color: #B49162;

            &:hover {
                color: red;
            }
        }

    }




    h2 {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        justify-content: center;
        text-decoration: underline;
    }
}

// Blog Post 

.blogs {
    display: flex;
    width: 100%;
    object-fit: contain;
}



.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    p {
        display: flex;
        text-align-last: center;


    }

    h2 {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;
    }

    form {
        display: flex;
        background: white;
        width: 25%;



        button {
            flex: display;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            color: black;
            border-radius: 50px;
            height: 60px;
        }
    }
}


// Social Media icons 

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .social-icons {
        display: flex;
        font-size: 200px;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 20px;

        .fa-github-square {
            color: #B49162;

            &:hover {
                color: #F1502F;
            }
        }

        .fa-twitter-square {
            color: #B49162;

            &:hover {
                color: #38A1F3;
            }
        }

        .fa-linkedin {
            color: #B49162;

            &:hover {
                color: #0077B5;
            }
        }

        .fa-instagram {
            color: #B49162;

            &:hover {
                color: #8134AF;
            }
        }
    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;
    }

}

.footer-cont {
    display: flex;
    width: 100%;
    background: black;

    input {
        display: flex;
        margin-left: auto;
        width: 20%;
    }




    .footer-menu {
        display: flex;
        width: 60%;
        flex-direction: row;

        a {
            display: flex;
            width: 100%;
            color: white;
            justify-content: center;
            font-size: 18px;
            text-decoration: none;
            padding: 12px 0 12px 0;
        }
    }
}


// Contact Me 

.contact-page {
    background: url(../images/contact-pic.png);
}

.contact-form {
    margin: 0;
    padding: 0;
    max-width: 600px;
    width: 85%;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    // font-family: 


    h1 {
        margin-top: 0;
        font-weight: 200;
    }
}

.txtb {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;

    label {
        display: block;
        text-align: left;
        color: #333;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.txtb input,
.txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.btn {
    display: block;
    background: teal;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}

// Skills page 

.skills-page {
    background: url(../images/contact-pic.png);
    padding: 0;
}

.skills {

    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: white;
    color: #313131;
    padding: 20px;
    border-radius: 10px;
    // padding-bottom: 

    div {
        width: 100%;
        background: #607D8B;
        height: 24px;
        border-radius: 4px;
    }
}

.html-bar::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 24px;
    left: 0;
    background: #e74c3c;
}

.css-bar::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 24px;
    left: 0;
    background: blue;
}

.ruby-bar::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 24px;
    left: 0;
    background: green;
}

.js-bar::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 24px;
    left: 0;
    background: purple;
}

// Projects Page 
.projects-page {
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-size: 100%;
    width: 100%;
    background: white;
}

#project-head {
    margin: 100px 0 200px 120px;
}

#project-head p {
    width: 60%;
    margin-top: 10px;
}

.work {
    text-align: center;
    width: 100%;
}

.work img {
    margin: 1%;
    width: 45%;
}

.header2 {
    margin: 130px 0 80px 40px;
}

.work2 {
    width: 100%;
    text-align: center;

    img {
        margin: 1%;
        width: 94%;
    }
}

#project-footer {
    text-align: center;
    color: grey;
    margin: 60px auto;
}

// Services Section




// Media Queries Below
// Mobile 
@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }

    .navbar .brand {
        text-align: left;
    }

    .navbar.active div {
        display: block;
    }

    .social-media {
        display: flex;
        width: 100%;

        .social-icons {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    .footer-cont {
        display: flex;
        width: 100%;
        flex-direction: column;

        input {
            display: block;
            text-align: center;
            width: 100%;
        }

        .footer-menu {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }

    .blogs {
        display: flex;
        width: 100%;
        flex-direction: column;


        #blog-image {
            margin: 0;
        }

        img {
            display: flex;
            width: 100%;
        }

        .description {
            margin: 0;
            display: flex;
            width: 100%;

            p {
                width: 100%;
            }
        }
    }

    .language {
        display: flex;
        flex-direction: column;
        width: 100%;

        .language-icons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;

            i {
                object-fit: contain;
                transform: scale(0.8);
            }
        }
    }

    #project-head {
        text-align: left;
        margin: 100px 0 100px 30px;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 12px;
            width: 90%;
        }
    }

    .work img {
        margin: 2%;
        width: 90%;
    }

    .header2 {
        margin: 130px 0 40px 12px;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 12px;
            width: 90%;
        }
    }

    .work2 img {
        margin: 2%;
    }

}

// iPad

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .social-media {
        display: flex;
        width: 100%;

        .social-icons {
            display: flex;
            width: 49%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

// Desktop
@media (min-width: 48em) {
    .navbar {
        display: flex;
    }

    .navbar div {
        display: flex;
    }

    .navbar .left,
    .navbar .right {
        display: flex;
        flex: 1;
    }

    .navbar .link {
        width: auto;
    }

    .navbar .right {
        justify-content: flex-end;
    }

    .navbar .toggle {
        display: none;
    }
}