.services-page {
  font-family: 'Roboto', sans-serif;
}

.services-section {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/services-pic.jpg);
  background-size: cover;
  padding: 60px 0;
}

.inner-width {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.section-title {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}

.services-container {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-box {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #000;
  cursor: pointer;
  float: right;
}

.service-icon {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
}

.service-icon i {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 70px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 26px;
}

.service-box:hover .service-icon {
  background: #82ccdd;
  color: #82ccdd;
}

.service-title {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-desc {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

@media screen and (max-width: 968px) {
  .service-box {
    max-width: 45%;
  }
  .services-section {
    height: 1600px;
  }
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-align: center;
}

.table tr {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .service-box {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: black;
}

.navbar div {
  display: none;
}

.navbar .toggle,
.navbar .brand {
  display: inline-block;
}

.navbar .link {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background: black;
  color: white;
}

.navbar .link:hover,
.navbar .link:active {
  color: black;
  background: white;
  border-radius: 10px;
}

.navbar .brand {
  width: 10em;
  text-align: center;
  padding: 1em;
  color: white;
}

.navbar a {
  text-decoration: none;
}

.navbar .toggle {
  padding: 1em;
  color: white;
}

#hero {
  height: 100%;
  width: 100%;
}

.hero-img {
  display: block;
  width: 100%;
}

img {
  width: 100%;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.about-me p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  text-align-last: center;
}

.language {
  display: block;
  width: 100%;
}

.language .language-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
}

.language .language-icons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 200px;
}

.language .language-icons .fa-css3-alt {
  color: #B49162;
}

.language .language-icons .fa-css3-alt:hover {
  color: #FFA500;
}

.language .language-icons .fa-html5 {
  color: #B49162;
}

.language .language-icons .fa-html5:hover {
  color: #f06529;
}

.language .language-icons .fa-sass {
  color: #B49162;
}

.language .language-icons .fa-sass:hover {
  color: #cd6799;
}

.language .language-icons .fa-gem {
  color: #B49162;
}

.language .language-icons .fa-gem:hover {
  color: red;
}

.language h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align-last: center;
}

.description h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.description form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: 25%;
}

.description form button {
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: black;
  border-radius: 50px;
  height: 60px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.social-media .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 200px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.social-media .social-icons .fa-github-square {
  color: #B49162;
}

.social-media .social-icons .fa-github-square:hover {
  color: #F1502F;
}

.social-media .social-icons .fa-twitter-square {
  color: #B49162;
}

.social-media .social-icons .fa-twitter-square:hover {
  color: #38A1F3;
}

.social-media .social-icons .fa-linkedin {
  color: #B49162;
}

.social-media .social-icons .fa-linkedin:hover {
  color: #0077B5;
}

.social-media .social-icons .fa-instagram {
  color: #B49162;
}

.social-media .social-icons .fa-instagram:hover {
  color: #8134AF;
}

.social-media h2 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: black;
}

.footer-cont input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 20%;
}

.footer-cont .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-cont .footer-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 0 12px 0;
}

.contact-page {
  background: url(../images/contact-pic.png);
}

.contact-form {
  margin: 0;
  padding: 0;
  max-width: 600px;
  width: 85%;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px #000000b3;
          box-shadow: 0 0 20px #000000b3;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: block;
  background: teal;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.skills-page {
  background: url(../images/contact-pic.png);
  padding: 0;
}

.skills {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  background: white;
  color: #313131;
  padding: 20px;
  border-radius: 10px;
}

.skills div {
  width: 100%;
  background: #607D8B;
  height: 24px;
  border-radius: 4px;
}

.html-bar::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 24px;
  left: 0;
  background: #e74c3c;
}

.css-bar::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 24px;
  left: 0;
  background: blue;
}

.ruby-bar::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 24px;
  left: 0;
  background: green;
}

.js-bar::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 24px;
  left: 0;
  background: purple;
}

.projects-page {
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  width: 100%;
  background: white;
}

#project-head {
  margin: 100px 0 200px 120px;
}

#project-head p {
  width: 60%;
  margin-top: 10px;
}

.work {
  text-align: center;
  width: 100%;
}

.work img {
  margin: 1%;
  width: 45%;
}

.header2 {
  margin: 130px 0 80px 40px;
}

.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}

#project-footer {
  text-align: center;
  color: grey;
  margin: 60px auto;
}

@media (max-width: 48em) {
  .navbar.active .toggle {
    background: #223047;
    color: white;
  }
  .navbar .brand {
    text-align: left;
  }
  .navbar.active div {
    display: block;
  }
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .social-media .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-cont input {
    display: block;
    text-align: center;
    width: 100%;
  }
  .footer-cont .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogs #blog-image {
    margin: 0;
  }
  .blogs img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .blogs .description {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .blogs .description p {
    width: 100%;
  }
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .language .language-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .language .language-icons i {
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #project-head {
    text-align: left;
    margin: 100px 0 100px 30px;
  }
  #project-head h1 {
    font-size: 36px;
  }
  #project-head p {
    font-size: 12px;
    width: 90%;
  }
  .work img {
    margin: 2%;
    width: 90%;
  }
  .header2 {
    margin: 130px 0 40px 12px;
  }
  .header2 h1 {
    font-size: 36px;
  }
  .header2 p {
    font-size: 12px;
    width: 90%;
  }
  .work2 img {
    margin: 2%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .social-media .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 48em) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .left,
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar .link {
    width: auto;
  }
  .navbar .right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar .toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */